attrs==22.2.0
backoff==2.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
idna==3.4
iniconfig==2.0.0
numpy==1.24.1
packaging==23.0
pandas==1.5.2
pluggy==1.0.0
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.7.1
requests==2.28.2
six==1.16.0
sklearn==0.0.post1
urllib3==1.26.14

termcolor~=2.2.0
jupyter~=1.0.0
pip~=22.3
Pillow~=9.4.0
tornado~=6.2
Jinja2~=3.1.2
setuptools~=65.5.0
cffi~=1.15.1
click~=8.0.4
ipython~=8.8.0
matplotlib~=3.6.3
MarkupSafe~=2.1.1
scipy~=1.10.0
py~=1.11.0
wcwidth~=0.2.6
pyparsing~=3.0.7